*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "lato", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8; }

::selection {
  background-color: #878787;
  color: #878787; }

.popupSaved {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(158, 158, 158, 0.2);
  z-index: 88888;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
    .popupSaved {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: rgba(158, 158, 158, 0.2); } }
  .popupSaved__container-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 0 2rem 4rem black 0.2;
    border-radius: 2rem;
    transition: all 0.5s 0.2s; }
  .popupSaved__container-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    overflow-y: auto;
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popupSaved__text {
    display: block;
    width: 100%;
    padding: 5rem 5rem;
    text-align: center; }
  .popupSaved:target {
    opacity: 1;
    visibility: visible; }
  .popupSaved:target .popupSaved__container-small {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupSaved__close:link, .popupSaved__close:visited {
    color: #cacaca;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popupSaved__close:hover {
    color: #353535;
    font-size: 3.5rem; }

.heading-saved {
  color: #525252;
  padding: 2rem 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0; }

.heading-default {
  color: #525252;
  padding: 2rem 3rem;
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 0; }

.par__question-saved {
  color: #5a5a5a;
  padding: 3rem 10rem;
  font-size: 1.8rem; }

#par__answer-saved {
  color: #5a5a5a;
  padding: 2rem 10rem;
  font-size: 1.8rem;
  text-align: left; }

.savedLine {
  padding-top: 4rem;
  border-bottom: 1px solid #e2e2e2;
  width: 70%;
  transform: translate(20%); }

.btn__showAnswer {
  text-decoration: none;
  height: 4rem;
  width: 12rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  border: none;
  background-color: #f0f0f0; }
  .btn__showAnswer__showAnswer:hover {
    background-color: #bdbdbd; }

.popupNew {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(158, 158, 158, 0.2);
  z-index: 77777;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
    .popupNew {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: rgba(158, 158, 158, 0.2); } }
  .popupNew__container-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 75%;
    height: 75%;
    box-shadow: 0 2rem 4rem black 0.2;
    background-color: white;
    border-radius: 2rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popupNew__text {
    display: table-cell;
    width: 100%;
    padding: 3rem 5rem;
    text-align: center; }
  .popupNew:target {
    opacity: 1;
    visibility: visible; }
  .popupNew:target .popupNew__container-big {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupNew__close:link, .popupNew__close:visited {
    color: #cacaca;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popupNew__close:hover {
    color: #353535;
    font-size: 3.5rem; }

.heading-primary {
  padding: 3rem 2rem;
  color: dimgray;
  font-size: 3rem;
  font-weight: 300;
  line-height: 0; }

.heading-secondary {
  padding: 4rem 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0; }

.heading-tertiary {
  padding: 0.5rem 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0; }

.par {
  color: #5a5a5a;
  padding: 2rem 10rem;
  font-size: 1.8rem; }

.yellow {
  padding-top: 2rem;
  color: #c8aa44; }

.green {
  padding-top: 2rem;
  color: #678e76; }

.blue {
  padding-top: 2rem;
  color: #406f97; }

.red {
  padding-top: 2rem;
  color: #bc736b; }

.grey {
  padding-top: 2rem;
  color: #878787; }

.popupInfo {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(158, 158, 158, 0.2);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
    .popupInfo {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: rgba(158, 158, 158, 0.2); } }
  .popupInfo__container-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 75%;
    height: 75%;
    box-shadow: 0 2rem 4rem black 0.2;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 2rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popupInfo__text {
    display: table-cell;
    width: 100%;
    padding: 3rem 5rem;
    text-align: center; }
  .popupInfo:target {
    opacity: 1;
    visibility: visible; }
  .popupInfo:target .popupInfo__container-big {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupInfo__close:link, .popupInfo__close:visited {
    color: #cacaca;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popupInfo__close:hover {
    color: #353535;
    font-size: 3.5rem; }

.heading-primary {
  padding: 3rem 2rem;
  color: dimgray;
  font-size: 3rem;
  font-weight: 300;
  line-height: 0; }

.heading-secondary {
  padding: 4rem 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0; }

.heading-tertiary {
  padding: 0.5rem 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0; }

.par {
  color: #5a5a5a;
  padding: 2rem 10rem;
  font-size: 1.8rem; }

.par-uitleg {
  color: #5a5a5a;
  padding: 2rem 10rem;
  font-size: 1.8rem;
  text-align: left; }

.yellow {
  padding-top: 2rem;
  color: #c8aa44; }

.green {
  padding-top: 2rem;
  color: #678e76; }

.blue {
  padding-top: 2rem;
  color: #406f97; }

.red {
  padding-top: 2rem;
  color: #bc736b; }

.grey {
  padding-top: 2rem;
  color: #878787; }

.answers__container {
  position: relative;
  height: 28rem;
  width: 100%;
  background-color: #ecdcdc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 500; }

.answers {
  position: relative;
  height: 28rem;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 500; }
  .answers__default {
    position: relative;
    padding: 2rem 2rem;
    background-color: #f5f5f5;
    height: 20rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    color: #818181;
    font-family: inherit;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2rem 4rem;
    background-color: #fff;
    margin-top: 4rem;
    margin-left: 4rem !important;
    margin-bottom: 4rem;
    overflow-y: auto;
    z-index: 500; }
  .answers__active {
    position: relative;
    padding: 2rem 2rem;
    background-color: #f5f5f5;
    height: 20rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    color: #818181;
    font-family: inherit;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2rem 4rem;
    background-color: #fff;
    box-shadow: 0 0rem 2rem #dbdbdb;
    margin-top: 4rem;
    margin-left: 4rem !important;
    margin-bottom: 4rem;
    overflow-y: auto;
    z-index: 500; }

.saveAnswersText {
  position: absolute;
  bottom: 60px;
  right: 60px;
  height: 2.2rem;
  width: 2.2rem;
  fill: #dbdbdb;
  z-index: 99999999999;
  cursor: pointer;
  transition: all 0.2s; }
  .saveAnswersText:hover {
    fill: #878787; }

.saveAnswersText--active {
  position: absolute;
  bottom: 60px;
  right: 60px;
  height: 2.5rem;
  width: 2.5rem;
  fill: #878787;
  cursor: pointer; }

.categories__container {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.categories {
  animation: colorchange 1s linear 1s infinite;
  -webkit-animation: colorchange 1s linear 0s infinite alternate;
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #f0efe4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

@keyframes colorchange {
  0% {
    background: #f7f6f1;
    position: left; }
  50% {
    background: #eceacd;
    position: right; }
  100% {
    background: #f7f6f1;
    position: left; } }

@-webkit-keyframes colorchange {
  0% {
    background: #f7f6f1;
    position: left; }
  50% {
    background: #eceacd;
    position: right; }
  100% {
    background: #f7f6f1;
    position: left; } }
  .categories__A.categories__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .categories__A.categories__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .categories__B.categories__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .categories__B.categories__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .categories__C.categories__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .categories__C.categories__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .categories__D.categories__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .categories__D.categories__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .categories__E.categories__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .categories__E.categories__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }

.categories__active {
  position: relative;
  background-color: #fff;
  height: 12rem;
  max-width: 12rem;
  min-width: 12rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  color: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  background-color: #fff;
  box-shadow: 0 0rem 2rem rgba(200, 170, 68, 0.5);
  height: 13rem;
  min-width: 13rem;
  font-size: 1.8rem;
  padding: 4rem 4rem; }
  .categories__active:hover {
    height: 13rem;
    min-width: 13rem;
    font-size: 1.8rem; }

.focus__container {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.focus__container--inactive {
  pointer-events: none; }

.focus {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #e4eaec;
  color: black;
  display: flex;
  overflow-x: auto;
  align-items: center; }
  .focus > *:not(:last-child) {
    margin-left: 4rem;
    margin-right: 4rem; }
  .focus__A.focus__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .focus__A.focus__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .focus__A--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .focus__B.focus__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .focus__B.focus__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .focus__B--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .focus__C.focus__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .focus__C.focus__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .focus__C--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .focus__D.focus__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .focus__D.focus__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .focus__D--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .focus__E.focus__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .focus__E.focus__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .focus__E--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .focus__F.focus__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .focus__F.focus__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .focus__F--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .focus__G {
    padding: 0.5rem 0.5rem;
    margin: 0rem; }

.focus__active {
  position: relative;
  background-color: #fff;
  height: 12rem;
  max-width: 12rem;
  min-width: 12rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  color: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 2rem rgba(64, 111, 151, 0.5);
  background-color: #fff;
  height: 13rem;
  min-width: 13rem;
  font-size: 1.8rem;
  padding: 2rem 2rem; }
  .focus__active:hover {
    height: 13rem;
    min-width: 13rem;
    font-size: 1.8rem; }

.questions__container {
  position: relative;
  height: 25rem;
  width: 100%;
  background-color: #f3ecec;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.questions__container--inactive {
  pointer-events: none; }

.questions {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #f3ecec;
  display: block;
  overflow-y: auto;
  align-items: center; }
  .questions > *:not(:last-child) {
    margin-left: 4rem;
    margin-bottom: 2rem; }
  .questions__A.questions__inactive {
    position: relative;
    padding: 2rem 2rem;
    background-color: #ffffff;
    height: 1rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    transition: all 0.2s;
    margin-top: 2rem; }
    .questions__A.questions__inactive:hover {
      min-height: 1.2rem;
      min-width: 93rem;
      font-size: 1.8rem; }
  .questions__A--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .questions__B.questions__inactive {
    position: relative;
    padding: 2rem 2rem;
    background-color: #ffffff;
    height: 1rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    transition: all 0.2s; }
    .questions__B.questions__inactive:hover {
      min-height: 1.2rem;
      min-width: 93rem;
      font-size: 1.8rem; }
  .questions__B--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .questions__C.questions__inactive {
    position: relative;
    padding: 2rem 2rem;
    background-color: #ffffff;
    height: 1rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    transition: all 0.2s; }
    .questions__C.questions__inactive:hover {
      min-height: 1.2rem;
      min-width: 93rem;
      font-size: 1.8rem; }
  .questions__C--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .questions__D.questions__inactive {
    position: relative;
    padding: 2rem 2rem;
    background-color: #ffffff;
    height: 1rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    transition: all 0.2s; }
    .questions__D.questions__inactive:hover {
      min-height: 1.2rem;
      min-width: 93rem;
      font-size: 1.8rem; }
  .questions__D--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .questions__E.questions__inactive {
    position: relative;
    padding: 2rem 2rem;
    background-color: #ffffff;
    height: 1rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    transition: all 0.2s; }
    .questions__E.questions__inactive:hover {
      min-height: 1.2rem;
      min-width: 93rem;
      font-size: 1.8rem; }
  .questions__E--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .questions__F.questions__inactive {
    position: relative;
    padding: 2rem 2rem;
    background-color: #ffffff;
    height: 1rem;
    width: 92rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    transition: all 0.2s;
    margin-left: 4rem !important; }
    .questions__F.questions__inactive:hover {
      min-height: 1.2rem;
      min-width: 93rem;
      font-size: 1.8rem; }
  .questions__F--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .questions__G {
    position: relative; }

.questions__active {
  position: relative;
  padding: 2rem 2rem;
  background-color: #ffffff;
  height: 1rem;
  width: 92rem;
  border-radius: 2rem;
  font-size: 1.7rem;
  color: black;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 2rem rgba(188, 115, 107, 0.5);
  height: 1.1rem;
  width: 93rem;
  font-size: 1.8rem; }
  .questions__active:hover {
    min-height: 1.2rem;
    min-width: 93rem;
    font-size: 1.8rem; }

.steps {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .steps__category {
    background-color: #ffffff;
    box-shadow: 0 0rem 2rem rgba(200, 170, 68, 0.5);
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12rem; }
  .steps__category--active {
    box-shadow: 0 0rem 2rem #c8aa44;
    background-color: #c8aa44;
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 13rem;
    width: 13rem;
    color: #fff; }
  .steps__theme {
    background-color: #ffffff;
    box-shadow: 0 0rem 2rem rgba(103, 142, 118, 0.5);
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12rem; }
  .steps__theme--active {
    box-shadow: 0 0rem 2rem #678e76;
    background-color: #678e76;
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 13rem;
    width: 13rem;
    color: #fff; }
  .steps__focus {
    background-color: #ffffff;
    box-shadow: 0 0rem 2rem rgba(64, 111, 151, 0.5);
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12rem; }
  .steps__focus--active {
    box-shadow: 0 0rem 2rem #406f97;
    background-color: #406f97;
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 13rem;
    width: 13rem;
    color: #fff; }
  .steps__question {
    background-color: #ffffff;
    box-shadow: 0 0rem 2rem rgba(188, 115, 107, 0.5);
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12rem; }
  .steps__question--active {
    box-shadow: 0 0rem 2rem #bc736b;
    background-color: #bc736b;
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 13rem;
    width: 13rem;
    color: #fff; }
  .steps__answer {
    background-color: #ffffff;
    box-shadow: 0 0rem 2rem rgba(135, 135, 135, 0.5);
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12rem; }
  .steps__answer--active {
    box-shadow: 0 0rem 2rem #878787;
    background-color: #878787;
    position: relative;
    padding: 4rem 4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: black;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 13rem;
    width: 13rem;
    color: #fff; }

.themes__container {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #5c3939;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.themes__container--inactive {
  pointer-events: none; }

.themes {
  position: relative;
  height: 20rem;
  width: 100%;
  background-color: #e7f0e7;
  color: black;
  display: flex;
  overflow-x: auto;
  align-items: center; }
  .themes > * {
    margin: 4rem; }
  .themes__A.themes__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .themes__A.themes__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .themes__A--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .themes__B.themes__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .themes__B.themes__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .themes__B--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .themes__C.themes__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .themes__C.themes__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .themes__C--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .themes__D.themes__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .themes__D.themes__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .themes__D--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .themes__E.themes__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .themes__E.themes__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .themes__E--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .themes__F.themes__inactive {
    position: relative;
    background-color: #fff;
    height: 12rem;
    max-width: 12rem;
    min-width: 12rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.2s; }
    .themes__F.themes__inactive:hover {
      height: 13rem;
      min-width: 13rem;
      font-size: 1.8rem; }
  .themes__F--text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit; }
  .themes__G {
    padding: 1rem 1rem;
    margin: -2rem; }

.themes__active {
  position: relative;
  background-color: #fff;
  height: 12rem;
  max-width: 12rem;
  min-width: 12rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  color: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 0.2s;
  box-shadow: 0 0rem 2rem rgba(103, 142, 118, 0.5);
  background-color: #fff;
  height: 13rem;
  min-width: 13rem;
  font-size: 1.8rem;
  padding: 2rem 2rem; }
  .themes__active:hover {
    height: 13rem;
    min-width: 13rem;
    font-size: 1.8rem; }

.header-nav {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch; }
  .header-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.6s; }
  .header-nav > *:hover .header-nav__icon {
    fill: #585858;
    height: 3rem;
    width: 3rem; }
  .header-nav__icon-box-info {
    position: relative; }
  .header-nav__icon-box-new {
    position: relative; }
  .header-nav__icon-box-saved {
    position: relative; }
  .header-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: white;
    transition: all 0.3s; }

.container {
  max-width: 100rem;
  height: 148rem;
  margin: 3rem auto;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0rem 2rem #c7c7c7; }

.header {
  font-size: 1.4rem;
  height: 8rem;
  width: 100%;
  background-color: #ebebeb;
  border-color: #fff;
  overflow: hidden;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem; }
  .header__logo {
    height: 3.5rem;
    padding-left: 2rem; }
  .header logo-footer {
    height: 3.5rem; }

.footer {
  height: 7rem;
  width: 120%;
  background-color: #ebebeb;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px; }

.divText {
  cursor: pointer; }

.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 20rem) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: #e2e2e2; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f8f8f8;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 50%;
    transition: all 0.3s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 60%;
      background-color: white; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #757575; }
  .search__input:focus + .search__button {
    background-color: white; }
  .search__button {
    border: none;
    background-color: #f8f8f8; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #333333; }
